body{
    background-color: #e2dddd;

}
.textbox{
    padding: 4%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 40%;
    margin-left: 5%;
    background-color: white;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;;
    box-shadow: 10px 10px 20px;
    font-family: "Poppins", sans-serif;
}
.textbox ul{
    font-size: 1.3rem;
}

@media only screen and (max-width: 1220px) {
    .textbox{
        width: 50%;
    }
    .sportsTitle{
        font-size: 1.7rem;
    }
}