*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";;
}


header{
    position: absolute;
    left: 0%;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    padding-left: 1%;


}

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    color: #47bfff;;

    
}
.navbar a{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 10%;
    text-decoration: none;
    transition: .3s;
    color: #47bfff;;


}
.navbar a:hover{
    transform: scale(1.1);

}
.links {
    display: flex;
    flex-grow: .75; /* Allow links to take up remaining space */
    justify-content: center; /* Center the links */
    white-space: nowrap;
}

#logo{
    top: 0;
    left: 0;
}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
    .navbar a {
        font-size: 1.2rem; 
        margin-right: 5%; 
    }
}
@media only screen and (max-width: 900px) {
    .navbar a {
        font-size: 1rem; 
        margin-right: 2%; 
    }
}