body{
    margin: 10%;
    margin-left: 5%;
    background-color: #e2dddd;
}
.twoBoxes{
    display: flex;
    gap: 10%;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px;
}


.sabeenPicBox #image img{
    height: 400px;
    width: 350px;
    border-radius: 50%;
    overflow: hidden;
    
}
.socialMedia{
    display: flex;
    gap:40px;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
    transition: .3s;
}
.socialMedia img{
    transition: .3s;
}

.socialMedia img:hover{
    transform: scale(1.1);    
}

.aboutMe{
    width: 50%;
    border-radius: 10px;
    padding: 20px;
}

.aboutMe h3{
    padding-top: 3%;
    font-weight: 300;
    font-size: 1.5rem;
}
@media only screen and (max-width: 1200px) {
    .aboutMe h3 {
        font-size: 1rem; 
    }
}